@import '../../globals.scss';

div.header {
  padding: 5px 2%;
  display: flex;
  justify-content: space-between;
  background-color: $rockbits-primary;
}

div.header-left {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

div.header-left div.app-name {
  margin-left: 10%;
  font-size: 22px;
  padding-top: 9px;
}

div.header-left div.logo {
  margin-bottom: 5px;
}

div.header img.account-icon {
  margin-top: 5px;
}
