@import '../../globals.scss';

i.fas.fa-times-circle.failure {
  color: red;
}

i.fas.fa-check-circle.pass {
  color: green;
}

i.far.fa-space-shuttle,i.fal.fa-satellite,i.fal.fa-dragon {
  color: #555;
}

div.flag-group {
  display: flex;
  justify-content: 'space-around';
}

div.launch-date, div.rocket-row {
  font-size: 1.3em;
  align-self: flex-start;
}

div.payload {
  font-size: 2em;
}

span.date {
  margin-left: 10px;
}

span.rocket-text {
  margin-left: 7px;
}

h2.mission-name {
  color: $mui-primary;
}
