@import '../../globals.scss';

.launch-detail {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  // background-color: $mui-primary;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
h2.details-title{
  color: $rockbits-primary;
}
.launch-detail a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.launch-detail a:hover {
  color: #f1f1f1;
}

.launch-detail .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.textArea {
  width: 100%
}

@media screen and (max-height: 450px) {
  .launch-detail {
    padding-top: 15px;
  }
  .launch-detail a {
    font-size: 18px;
  }
}
